@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}

@media (min-width: 640px) {
  .run1 {
    margin-left: 30px;
  }
}

@media (min-width: 640px) {
  .run2 {
    margin-left: 10px;
  }
}

@font-face {
  font-family: "Big Noodle Titling";
  src: url("./fonts/big_noodle_titling_oblique.ttf") format("woff2"),
    url("./fonts/big_noodle_titling_oblique.ttf") format("woff"),
    url("./fonts/big_noodle_titling_oblique.txt") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sprout Extra Bould";
  src: url("./fonts/sprout-extrabold.ttf") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
