@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}

@media (min-width: 640px) {
  .run1 {
    margin-left: 30px;
  }
}

@media (min-width: 640px) {
  .run2 {
    margin-left: 10px;
  }
}
@font-face {
  font-family: "Winner Sans Cond";
  src: url("./fonts//Winner-Sans-Cond-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
