@media (min-width: 400px) and (max-width: 857px) {
  .ballondiv {
    justify-content: center;
    width: 400px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (min-width: 400px) and (max-width: 857px) {
  .ballonconted {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 10px;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (max-width: 857px) {
  .tam {
    width: 150px;
  }
}

@media (min-width: 360px) and (max-width: 800px) {
  .imagemm {
    height: 80vh;
  }
}

@media (max-width: 999px) {
  .eid2 {
    width: 100vw;
  }
}

@media (max-width: 999px) {
  .basic2 {
    width: 15vw;
  }
}

@media (max-width: 999px) {
  .basic3 {
    width: 30vw;
  }
}
@media (min-width: 360px) and (max-width: 1920px) {
  .buttonn2 {
    font-size: 1rem;
    width: 160px;
    transform: translateX(10px);
  }
}

/* Custom Swiper Pagination */

.swiper-pagination-bullet {
  background-color: #f97316 !important; /* Tailwind orange-500 */
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #ea580c !important; /* Tailwind orange-600 */
}
.swiper-slide {
  padding-bottom: 40px;
}

@media (min-width: 858px) {
  .a22 {
    justify-content: center;
    display: flex;
    gap: 28px;
  }
}
